body {
    margin: 0;
    background-color: #007BFF;
    color: #333;
    font-family: Apple Chancery, cursive;
}

.container-new {
    text-align: center;
    padding: 20px;
}

header {
    background-color: #000000; 
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.cards-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-about {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-about:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-about img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.card-about h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #222;
}

.card-about p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.estilo-linha {
    border-color: #000000; 
    background-color: #000000; 
    height: 2px;
    margin: 0;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}
